
<% if (messages.error) { %>
  <%= messages.error %>
<% } %>
<!DOCTYPE html>
<html lang="en">
<head>
  <h1>Register</h1>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Album</title>
  
</head>
<body id="body">
  <style>
    #body{
    background: linear-gradient(to right, rgb(253, 255, 161) , rgb(173, 255, 243) );
    display: flex;
    justify-content: center;
    background: url('../img5.jpg');
}
h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 70px;
}

#form{
  background-color: rgba(255, 255, 255, 0.3);
    top: 250px; 
    text-align: center;
    border-radius: 10px;
    padding-top:10px ;
    padding-bottom:10px ;
    padding-left: 50px;
    padding-right: 50px;
    position: absolute;
}
#email, #name, #password{
  height: 45px;
    width: 30%;
    margin-bottom:15px ;
    border: 1px solid black;
    border-radius: 30px;
    color: #000;
    
    font-size: 5px;
    padding: 0 0 0 45px;
    background: rgba(255, 255, 255, 0.3);
    outline: none;
    font-size: 15px;
    transition: 400ms;
}
#email:hover{
    width: 50%;
    transition-duration: 500ms;
}
#password:hover{
    width: 50%;
    transition-duration: 500ms;
}
#name:hover{
    width: 50%;
    transition-duration: 500ms;
}
#submit{border: none;
        border-radius: 30px;
        font-size: 15px;
        height: 45px;
        outline: none;
        width: 4cm;
        color: black;
        cursor: pointer;
        transition: .7s ;
    }
#login
    {  
      margin-top: 20px;
      font-size: 20px;
      font-family: cursive;
      width: 3cm;
      height: 1.3cm;
      border-radius: 30px;
      transition: .9s  }    
#form #submit:hover{
  transition-duration: 750ms;
    width: 6cm;
    background-color: #fbff28;
}
p{
  font-weight: bold;
  font-size: larger;
}  
#login:hover
  {
   
    transition-duration: 1250ms;
    width: 6.3cm;
    background:linear-gradient(to right ,rgb(141, 192, 255) , rgb(255, 173, 173) );
   

}


</style>
<div id="form">

<form action="/register" method="POST">
  <div>
    <label for="name">Name</label>
    <input placeholder="Name" minlength="2" maxlength="14" type="text" id="name" name="name" required>
  </div>
  <div>
    <label for="email">Username</label>
    <input placeholder="Username"  id="email" name="email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input placeholder="Password" minlength="8" maxlength="16" type="password" id="password" name="password" required>
  </div>
  <button id="submit" type="submit">Register</button>
</form>
<p>Have an account?</p><p>Login Now!⬇️⬇️⬇️😊</p>
<a href="/login"><button id="login">Login</button></a>
</div>
</body>
</html>

